<app-diretiva-ng-switch></app-diretiva-ng-switch>
<app-diretiva-ngIf></app-diretiva-ngIf>
<app-diretiva-ng-class></app-diretiva-ng-class>
<!--Passando dados por ng content-->
<app-exemplo-ng-content>
  Conteúdo passado para o componente.
  <app-operador-elvis></app-operador-elvis>
</app-exemplo-ng-content>

<app-exemplo-ng-content>
  <div class="titulo">Título do Painel</div>
  <div class="corpo">
      Conteúdo passado para o componente.
  </div>
  <div class="corpo">
      Conteúdo passado para o componente 2.
  </div>
</app-exemplo-ng-content>

<app-diretivas-customizadas></app-diretivas-customizadas>
